[2016-09-15 10:35] srid opened #1 "Make this the canonical repo"
- [x] Push latest commits from SourceForge git repo to the master branch here
- [x] Retire SourceForge git repo
- [x] Point Launchpad project to this repo
- [x] Adjust URLs in the source code

[2016-09-15 13:59] srid opened #2 "Community links"
Need a wiki page or something to collect all community contributions. Eg.: https://www.youtube.com/watch?v=_17kvlD20N0&list=PL_1-_Q4VI1SfM0ZTLx1lnOev8ENC9-RYx

[2016-09-17 11:30] onkarshinde commented on #1
Launchpad doesn't allow importing from github branch. So I have just added reference in project description.

[2016-09-17 11:45] onkarshinde opened #5 "Build broken because of renaming README to README.md"
$ ./autogen.sh
autoheader: WARNING: Using auxiliary files such as `acconfig.h', `config.h.bot'
autoheader: WARNING: and `config.h.top', to define templates for `config.h.in'
autoheader: WARNING: is deprecated and discouraged.
autoheader:
autoheader: WARNING: Using the third argument of `AC_DEFINE' and
autoheader: WARNING: `AC_DEFINE_UNQUOTED' allows one to define a template without
autoheader: WAR

[2016-09-17 14:31] srid commented on #5
Can this be easily fixed? It is nice to have rendered README on github.

[2016-09-17 14:49] onkarshinde commented on #5
I can update build to use README.md where appropriate, but if the file becomes heavy with markdown then there may be further changes required to convert it to plain text when building.

[2016-09-18 05:46] srid commented on #5
Feel free to make the necessary changes including reverting my commit (switching to markdown) if necessary.

We should look into hooking up Travis or Circle CI so PRs can be reviewed (whether build passes and test passes) before merging to prevent such regressions in future.

[2016-09-18 05:48] srid commented on #5
Actually, for now I'll revert my README.md change so the build will pass once again.

[2016-09-18 05:49] #5 closed

[2016-09-21 04:25] srid opened #6 "Resurrect gnusim8085.org"
- [ ] Deploy asm tutorial and screenshots as [Github Pages](https://pages.github.com)
- [ ] Have @aanjhan point the domain gnusim8085.org to Github Pages CNAME
- [ ] Change primary URL everywhere else (wikipedia, launchpad, sourceforge, github)

[2016-09-21 04:30] srid commented on #2
This can done in/ after #6

[2016-09-21 21:01] onkarshinde commented on #6
I do not have contents from old website. Have you taken backup anywhere?

[2016-09-22 04:45] srid commented on #6
No, however:
- The tutorial is [in the source](https://github.com/GNUSim8085/GNUSim8085/blob/master/doc/asm-guide.txt)
- And the screenshots are [at SF](https://sourceforge.net/projects/gnusim8085/)

I was thinking of using these to create the new website.

[2016-09-22 04:46] srid commented on #6
Oh wait, just found a backup at the Internet Archive: https://web.archive.org/web/20151014064234/http://gnusim8085.org/

[2016-09-22 05:30] onkarshinde commented on #6
Fantastic, I would prefer for the site to be hosted in a separate repository. Can you create a new repository and create a placeholder using one of the themes available, unless you want to build the style from scratch?

[2016-09-22 05:56] srid commented on #6
Done: https://github.com/GNUSim8085/gnusim8085.github.io

@aanjhan could you point gnusim8085.org's CNAME to `gnusim8085.github.io`?

[2016-09-22 06:06] srid opened #7 "Release 1.3.8"
Mainly because we now have a new canonical repo and site. Let's use Github Releases to upload the tarballs and binaries right here: https://github.com/blog/1547-release-your-software
- [x] master branch ready for tag-release
- [x] Get approval from @srid
  - [x] Update srid's email address
- [x] Tag and upload binaries to Github
- [x] Announce
  - [x] Debian packaging
  - [x] Fedora
  - [x] Archli

[2016-09-22 06:08] srid commented on #7
Or 1.4.0?

[2016-09-22 06:23] onkarshinde commented on #7
The releases section has created tarball from two tags available in repository. But I assume this is just an archive of the repository. I do not see an option to add the tarballs we have generated or the Windows installer files.

As for 1.3.8 vs 1.4.0:
I prefer 1.3.x for now. I am working on port to GTK3, which will be included as an optional in 1.3.8. Once we have perfected build with GTK3 we can

[2016-09-22 06:26] srid commented on #7
1. Go to https://github.com/GNUSim8085/GNUSim8085/releases
2. Click a release, e.g.: 1.3.7
3. Click "Edit tag" (top right)
4. Below the large text box, "Attach files by dragging & dropping or selecting them."

[2016-09-22 06:26] srid commented on #7
+1

[2016-09-22 14:59] aanjhan commented on #6
I have forwarded this request to my domain manager :D Should happen in a
couple of hours. Will keep you posted.

On Thu, Sep 22, 2016 at 7:56 AM Sridhar Ratnakumar <notifications@github.com>
wrote:

[2016-09-22 21:41] onkarshinde commented on #6
I have added some content to the site. Let me know what you think.

[2016-09-23 09:52] srid commented on #6
- There need not be a separate 'About' page, as its contents can be included in the 'Introduction' section of the main page.

- In future the 'Downloads' page can go away as well, as the 'downloads' link can directly point to the appropriate Github Release page (containing tarball and binaries for 1.3.8)

- The 'Screenshots' pages need to restrict the viewing size of the images; currently the imag

[2016-09-25 19:21] onkarshinde commented on #6
* Should I just merge the content from about page into the main one or should I keep the about.md and figure out a way to get the content included in main page?
* I have uploaded files from last release to github. As you can see there is no way to mention which file is what. So it is left to users to figure out which file to download. Downloads page can serve this information. Also we need to take

[2016-09-25 19:35] onkarshinde opened #8 "Setup new translation management tool"
Launchpad does not support importing files from github. So now we need to look for new translation management tool.
Weblate is my preferred choice. But suggest any other you may know.

- [x] Choose the translation tool
- [x] Request for hosting
- [x] Verify the hosting
- [x] Add weblate user as contributor
- [x] Verify the integration with github

[2016-09-26 01:51] srid commented on #8
I have never worked with translation management tools, so I'd let you pick whatever is suitable for the project.

One thing you may want to consider is whether the translation tool integrates with GitHub. Eg: https://poeditor.com/help/how_to_translate_a_language_file_from_a_github_project

[2016-09-26 01:53] srid commented on #6
You can just get rid of about.md and include the description in the home page.

[2016-09-26 01:57] srid commented on #1
Note that my Launchpad login no longer works (thanks to their messed up Ubuntu One migration), so I have no access to the Launchpad project. At one point we want to figure out what to do with the issues and forum posts over there.

[2016-09-27 04:24] onkarshinde commented on #8
I have used weblate in the past as translator. It has very simple no frills UI and the application itself is open source.
They have a hosted version which integrates with github. I have submitted request for our translations to be hosted. I will let you know when I receive response.

Meanwhile I have shut down the translations on launchpad.

[2016-09-27 04:26] onkarshinde commented on #1
Closed sourceforge repo.

[2016-09-28 19:41] onkarshinde commented on #8
Can you please add 'weblate' user as contributor to the repository? This will allow the hosted version to push back translations to repository automatically.

[2016-09-28 20:09] onkarshinde commented on #6
@aanjhan what is the status of CNAME change?

[2016-09-28 20:11] aanjhan commented on #6
I can't change the cname as apparently it is a violation of a DNS RFC hat
forbids changing the cname of the root domain. I have asked to redirect to
GitHub pages for now. Somehow this is not working and he is figuring out
why.
On Wed, 28 Sep 2016 at 22:09, Onkar <notifications@github.com> wrote:

[2016-09-29 06:14] onkarshinde commented on #1
Since the repo is up and running, are you happy to close this issue?

[2016-09-29 06:22] onkarshinde commented on #6
I have imported as much content as possible from internet archive. The contribute page does not have a link yet in navigation as there are some updates required such as user forum and mailing list.
Please review and let me know.

[2016-09-29 09:23] #1 closed

[2016-09-29 09:24] srid commented on #8
done.

[2016-10-01 00:45] aanjhan commented on #6
Gnusim8085.org now redirects to gnusim8085.github.io
On Thu, 29 Sep 2016 at 02:22, Onkar <notifications@github.com> wrote:

[2016-10-02 12:12] onkarshinde commented on #6
@aanjhan Can you please change the link mentioned on https://aanjhan.com/activities/ ?

[2016-10-03 02:21] aanjhan commented on #6
Done

On Sun, Oct 2, 2016 at 8:12 AM Onkar <notifications@github.com> wrote:

[2016-10-05 08:26] HappyAndHarmless commented on #7
Any reason 1.3.7 was not removed from launchpad (especially as it is available in Github Releases)?

[2016-10-06 07:09] onkarshinde commented on #7
I am still trying to figure out if there is a way to check the download statistics for the release on Github. Once it is confirmed that users are downloading from Github, I will shut down the download section on launchpad.

[2016-10-06 07:26] HappyAndHarmless commented on #7
Github provides an [API](https://help.github.com/articles/getting-the-download-count-for-your-releases/) for getting download count.

[2016-10-07 06:07] onkarshinde commented on #7
Knew that already. :-)
I have embedded the download statistics in the page now. Let me know your comments.

[2016-10-07 06:14] onkarshinde commented on #8
Can you please confirm again if the weblate user have been added as contributor? (https://github.com/weblate)
I can't see it listed as member anywhere.

[2016-10-07 06:42] onkarshinde commented on #6
Just a note, if we want to link to any page directly then we will need to use the github.io domain, gnusim8085.org won't work. Example in debian/watch file or when trying to link screenshots from external site.

[2016-10-09 06:37] HappyAndHarmless commented on #8
I added it under https://github.com/GNUSim8085/GNUSim8085/settings/collaboration and it is listed as "Awaiting weblate's response" (screenshot attached).

<img width="646" alt="screen shot 2016-10-09 at 12 06 55 pm" src="https://cloud.githubusercontent.com/assets/3998/19218490/f1364c5c-8e18-11e6-8a77-87d3ca782cdf.png">

[2016-10-09 08:42] onkarshinde commented on #8
Ahh, I do not have access to the page. Is it only accessible to admins?

[2016-10-09 10:06] HappyAndHarmless commented on #8
I gave you admin access now. Try again.

[2016-10-14 04:55] onkarshinde commented on #8
The translations can now be managed using weblate hosted setup - https://hosted.weblate.org/projects/gnusim8085/translations/
We are at the last stage for this setup. The only thing remaining to be verified is automatic push of translations to github.

[2016-10-14 15:38] onkarshinde commented on #8
The translations changes on weblate are now getting pushed to github. I will verify the updates from github to weblate tomorrow.

Meanwhile I have updated the website to make the contribute page visible. It now included details of the translation as well. Let me know if you have any comments.

[2016-10-15 05:08] onkarshinde commented on #8
All set up is verified. Closing this.

[2016-10-15 05:08] #8 closed

[2016-10-17 05:11] onkarshinde opened #9 "Bump the versions of build dependencies"
For far too long we have supported very old versions of the various build dependencies like GTK, automake etc. We need to decide the support policy and bump the minimum version required once in a while. This will allow us to make use of new features in these tools (such as new widgets in GTK)

Current versioned build dependencies are:
- Automake >= 1.11
- GTK2 >= 2.24 or GTK3 >= 3.0.0
- GtkSourceV

[2016-10-17 05:18] HappyAndHarmless commented on #9
I agree 👍

It makes sense to piggy-back on the stable release of Ubuntu LTS, at the least.

[2016-10-18 04:47] onkarshinde commented on #9
I was mistaken about the support policy for Ubuntu releases. The LTS releases are now supported for 5 years on desktop as well.
https://www.ubuntu.com/info/release-end-of-life

This means that 12.04 is supported until April 2017. This gives us following minimum versions of the build dependencies.
* Automake >= 1.11
* GTK2 >= 2.24 or **GTK3 >= 3.4**
* GtkSourceView2 >= 2.10 or **GtkSourceView3 >= 3

[2016-12-07 15:13] priyankaprakasan opened #12 "Shows error missing MSCVR80.dll missing from computer"
I tried to install gnu8085-1.3.7 on windows 7 32bit machine. The installation went fine. But when I tried to open the app gets an error MSCVR.80.dll is missing, so couldn't open the application, any solution please..

[2017-01-14 14:10] onkarshinde commented on #12
Can you please confirm few things?
1. Exactly which exe file did you download to install?
2. Do you have the screenshot of the error? Perhaps other details in the error can help understand what is happening.

[2017-01-15 11:37] priyankaprakasan commented on #12
Hi Onkar,
I dont have the screen shot. But If I am correct the error was app failed
to run becoz of the file missing. Nothing more on that msg.

On Jan 14, 2017 11:10 AM, "Onkar" <notifications@github.com> wrote:

[2017-01-15 16:20] onkarshinde commented on #12
Looks like you may have to download Microsoft Visual C++ runtime.
https://www.microsoft.com/en-us/download/details.aspx?id=26347

Please refer to the details on this page
https://www.lifewire.com/how-to-fix-msvcr80-dll-not-found-or-missing-errors-2623805

[2017-01-21 14:17] alvil opened #13 "Error while installing GNUSim8085 in Mac OS 10.12.2"
I navigated to the folder GNUSim8085-master and ran the command autoconf. Then when I ran the command ./configure  , I got the following error on my screen.
<img width="863" alt="screen shot 2017-01-21 at 7 39 20 pm" src="https://cloud.githubusercontent.com/assets/10954124/22174998/38deff2c-e012-11e6-80c7-84c206b118fc.png">

[2017-01-21 14:23] alvil commented on #13
After that if I run the command make , I get
make: *** No targets specified and no makefile found.  Stop.

Please help me with installation.

[2017-01-22 06:17] alvil commented on #13
I rechecked the dependencies, removed configure and then when I ran autoconf , I get the following errors.I think the problem lies here
<img width="891" alt="screen shot 2017-01-22 at 11 45 29 am" src="https://cloud.githubusercontent.com/assets/10954124/22180530/5af83b2e-e098-11e6-9357-8803fefc2496.png">

[2017-01-22 07:04] onkarshinde commented on #13
What is the version of automake on your machine? The minimum version required is 1.11.

[2017-01-22 07:07] alvil commented on #13
its 1.15 .there has been an improvement. I have generated the configure file successfully and have ran the commands make and make install . I'm not sure whether the package is built. Where can I find the executable ?

[2017-01-22 07:30] onkarshinde commented on #13
A bit difficult to tell how it works on OS X. Is there any directory called /usr/local/bin?

[2017-01-22 07:33] onkarshinde commented on #13
The README and INSTALL are more geared towards installing from a source tarball. When working on git master better to just run ./autogen.sh before running configure.

[2017-01-22 07:34] alvil commented on #13
yes. And I found the executable in /usr/local/bin and its perfectly working

[2017-01-22 07:36] onkarshinde commented on #13
Can you take some screenshots similar to the ones here? - https://gnusim8085.github.io/screenshots
Also try running some programs and see if it is actually working. Try using the print function as well.

[2017-01-22 07:44] alvil commented on #13
programs are working, that's what I meant by perfectly working.
<img width="1280" alt="screen shot 2017-01-22 at 1 10 38 pm" src="https://cloud.githubusercontent.com/assets/10954124/22180908/a2352c5c-e0a4-11e6-9b72-407cf9478459.png">
<img width="1280" alt="screen shot 2017-01-22 at 1 12 30 pm" src="https://cloud.githubusercontent.com/assets/10954124/22180909/a2c27dfa-e0a4-11e6-933a-290e476d6155.pn

[2017-01-22 07:47] onkarshinde commented on #13
Looks a bit old fashioned. :-)
Where did you install the GTK+ development files from?

[2017-01-25 23:13] Knaeckebrot1307 opened #14 "AC flag is not set correctly"
When working with SUB instruction (and possibly some others) the AC (Auxiliary Carry) won't be set correctly. Actually I couldn't find any SUB example where it gets set.

3 little code snippets to test (all taken from Intel's 8080/8085 Programming Manual:

mvi a, 035h
sub a

Flags which should be set: Z, P and AC => GNUSim8085 doesn't set AC!

mvi a, 023h
mvi b, 0Ch
sub b

The 2nd example just wor

[2017-01-29 11:54] onkarshinde commented on #14
Are you sure your examples are correct? I don't see why 1st or 3rd example should set AC flag.

[2017-01-29 14:08] #13 closed

[2017-01-29 14:10] onkarshinde commented on #12
Have you followed the instructions I provided? Please confirm if it fixed the issue.

[2017-01-29 15:07] onkarshinde commented on #6
The EFY link about the 2008 awards is broken and I am not able to find any replacement link. Should we remove the mention of awards from wikipedia page?

[2017-01-29 16:56] srid commented on #6
Why should we? Can't we leave it unreferenced? After it did happen.

Envoyé de mon iPhone

[2017-01-29 18:30] onkarshinde commented on #6
The wikipedia article has a big citation needed header at the top. So either we need to provide citation for the actual award listing or remove the mention of the awards.

[2017-01-29 18:40] srid commented on #6
https://lists.ubuntu.com/archives/ubuntu-in/2008-February/002724.html

Envoyé de mon iPad

[2017-01-29 18:46] onkarshinde commented on #6
That is also a secondary source. The original news item on efy website does not exist any more. Not in their archives as well, unless I have been looking in the wrong place.

[2017-01-30 00:53] Knaeckebrot1307 commented on #14
Substractions are done internally by adding the two's complement:
35h - 35h results in the addition of 2 numbers:

0011 0101 (35h in binary)
1100 1010 (one's complement of 35h)
1100 1011 (two's complement of 35h)

=> addition:

0011 0101 (35h)
1100 1011 (2C of 35h)
----------------
0000 0000 => Carry + Auxiliary Carry + Zero + Parity are set

the AC flag ist set because the addition causes a carry

[2017-01-30 00:56] srid commented on #6
I would do nothing about it, and leave it to the Wikimedia overlords.

[2017-02-13 06:54] tatsuvalue opened #15 "Instruction STAX does not support operand 'h'"
in 8085-instructions.c (line 744-);

/* 12 STAX H */
static gint
_eef_inst_func_18 (eef_addr_t opnd_addr)
{
  return _eef_inst_func_stax (opnd_addr, 'D');
}

I guess that 'D' is 'H'.
  return _eef_inst_func_stax (opnd_addr, 'H');

(and need for code 'stax d')

[2017-02-18 15:23] onkarshinde commented on #15
As far as I know there is no STAX H instruction in 8085 because STA stores the accumulator content to the memory location and address of the location is mentioned in HL pair.
The code you are referring to is meant for STAX D but the comment is wrong.

[2017-02-18 15:24] onkarshinde commented on #12
Can you please confirm that the issue is fixed?

[2017-02-18 15:34] priyankaprakasan commented on #12
I didnt get enough  time to check it, but I will and let you know.

*Regards*

Priyanka
M.Tech in Computer and Information Science
Lecturer
Electrical Engineering Dept.
Anton de Kom University
Suriname

On Sat, Feb 18, 2017 at 8:54 PM, Onkar <notifications@github.com> wrote:

[2017-02-20 12:18] tatsuvalue commented on #15
Thnaks!

I had forgot M operand for mov instruction (mov m, a).

"STAX H" equals "MOV M, A" (code 77h) ^^;

[2017-03-28 10:41] CaptainJava01 opened #16 "PC flag is not set correctly"
At the first run of a program (with F5), PC is set to 00h instead of 4200h. At pressing F5 at the last command and rerun the program with F5 PC is set to the last value (the address of the last command +1). Please fix that issue. Version 1.3.7

[2017-05-21 15:06] #15 closed

[2017-05-21 15:15] #9 closed

[2017-07-12 15:20] fearthekarma opened #17 "gnu8085 simulator"
Hey guys,
I am using macintosh and I am searching for gnu 8085 simulator for mac. Can anyone help me how can I install it in mac??

[2017-07-13 13:13] fearthekarma commented on #13
From where did you installled gnu 8085 simulator can you share the download link??

[2017-07-13 18:27] alvil commented on #13
Sorry I don't remember it. I simply googled it and I guess it was from sourceforge.net

[2017-07-17 13:13] nikunj-r opened #18 "DLL files missing error"
When I run gnusim8085.exe it ask's for dll files.
I am using Windows 8.1(64-bit).
I have downloaded gnusim8085-1.3.7.
Please help.

[2017-09-09 05:55] onkarshinde commented on #17
Are you looking for a prepackaged binary? There isn't one. You need to download the source and compile from source.
You will also have to install the GTK libraries and development files from appropriate places. I believe HomeBrew project provides easy to install setup for GTK.

[2017-09-09 05:55] onkarshinde commented on #18
Do you have the name of the DLL?

[2017-09-12 17:43] nikunj-r commented on #18
I re-installed GNUSim8085 and the problem was solved. Thanks for your concern, appreciate it.

[2017-09-14 11:52] #18 closed

[2017-12-28 18:26] vitasam opened #19 "Simulator does not fit in to 1280x800 screen (win32+GTK2)"
Hi,
I have been trying the simulator on Acer Iconia WIn10 tablet (display size is 1280 x 800). The main window does not fit there - some of bottom UI elements are outside of the screen)

[2017-12-31 11:20] premkr96 opened #20 "Faced an error with this program."
![error](https://user-images.githubusercontent.com/34981271/34461186-d8bec8f4-edd8-11e7-8e1d-25fdc8c99eb3.PNG)
I am sure that my code is correct. please help.

;<Program title>

jmp start

;data

;code
start: nop
lxi sp,9900
mvi c,04h
pop h
mov a,m
inx h
push h
inx sp
inx sp
pop h
mov m,a
dcr c
jz 28
inx h
push h
dcx sp
dcx sp
jp 13
hlt

[2018-01-06 06:24] daniel-Jones opened #21 "Infinite loop freezes interface and renders application inoperable"
GNUSim8085 1.3.8

Although a silly example a simple infinite loop like this will freeze the application:

`JMP START

START:	MVI A,1
	        JMP START`

I've accidentally had myself in a similar situation. I've seen this referenced in a blog post as early as 2011 (http://opensourceforu.com/2011/08/gnusim8085-review/) however haven't found an issue open for it.

[2018-03-16 19:54] onkarshinde commented on #19
Do you have screenshot for this so that I get an idea how it looks like?

[2018-03-16 20:10] onkarshinde opened #23 "Future of Windows build"
I have not found any way to get the Windows cross compilation build work with GTK3.

- Windows will have to stay on GTK 2 for the foreseeable future.
- Non-Windows build should move to GTK3 permanently. It does not make sense to maintain GTK2 build option for non-Windows platform.

In order to make code maintainable

- We should create a source subfolder for Windows
- Copy all the GUI related file

[2018-03-16 20:11] onkarshinde commented on #23
@srid Your opinion please.

[2018-03-17 01:12] srid commented on #23
What is the problem with GTK3 Windows build?

I'd rather entirely drop GTK2 support than end up having to maintain Windows specific GUI files.

[2018-03-17 19:12] onkarshinde commented on #23
Our current Windows build mechanism is using mingw cross compiler and GTK2 pre-built binaries. There are no pre-built GTK3 binaries for Windows.
It may be possible to create a build using [MSYS2](http://www.msys2.org/) environment but I do not have access to a Windows machine to do any experiments.

[2018-03-20 08:47] onkarshinde commented on #12
@priyankaprakasan Have you tried the resolution I suggested?

[2018-03-20 08:58] onkarshinde commented on #17
@fearthekarma Have you managed to build the simulator from source?

[2018-03-24 04:11] onkarshinde commented on #20
@premkr96 If you debug the program then the first error is that there are more number of POP instructions than PUSH. I suggest that you check logic in the program, specifically around the jp and jz instructions.

[2018-03-24 04:17] onkarshinde commented on #23
@srid Some good news. Fedora includes GTK3 binaries built with mingw. So it is possible to do cross compilation using these binaries and create GTK3 build for Windows.
I have now set up Fedora in virtual box machine. Will work on this in next few weeks.

[2018-04-01 09:15] deepaklorkhatri007 opened #24 "Maximize problem in fedora 27"
I am not able to get maximize button when trying to install it from Fedora repositories. When I make it from source code it gives a maximize button which actually is of no use also I am not able to resize the gnusim8085 application window in Fedora 27, due to which bottom part of the application is not accessible to the user.

[2018-04-14 15:14] onkarshinde commented on #24
@deepaklorkhatri007 I installed the application from Fedora repositories and I can see the maximize buttons. I am using LXDE.
I think your issue for maximise button depends on the window manager.

As for the window size, please confirm if you are compiling from git. I can suggest a code change which should solve the problem. Once you confirm I will commit the fix to git.

[2018-04-15 13:09] srid opened #25 "Nix package"
Would be nice to have a Nix package

https://nixos.org/
https://github.com/NixOS/nixpkgs

@onkarshinde Just a suggestion. Give Nix a try (NixOS is the Linux distro that uses Nix). With Nix we can build packages for Linux & Mac. Nix is a pretty interesting way to package up things.

[2018-04-17 22:03] vivonk opened #26 "Feature Request - Highlighting call instruction with call address/instruction"
As of now, when I write
[code]
then `UNPCK` is not highlighted. If it will be highlighted then it will look like a high-level languages preference. If we can make something like this then it would be nice.
I can help to implement also :blush:

[2018-04-23 17:47] onkarshinde commented on #24
Following function call is present three times in src/interface.c
gtk_window_set_default_size

Can you comment this, rebuild the application and check if that solves the resize problem?

[2018-04-23 17:51] onkarshinde commented on #26
Can you please confirm where exactly do you see the problem with highlighting? UNPCK: should already be highlighted.

[2018-04-23 18:26] vivonk commented on #26
My mean to say is when I JMP to somewhere then if it can verify that it's a valid JUMP so that compilation error will become less.

[2018-04-29 10:03] deepaklorkhatri007 commented on #24
I switched from gnome to KDE and it works fine there. I tried it with other operating systems running gnome and problem is still persistent thank you!

[2018-05-01 05:47] onkarshinde commented on #24
Did you try the code change I suggested?

[2018-05-01 05:50] onkarshinde commented on #26
The syntax highlighting in gtksourceview (used by this application) just highlights the words based on character patterns.
There is no way to highlight an incorrect JMP or CALL because the editor does not know that it is invalid.

[2018-05-01 06:30] deepaklorkhatri007 commented on #24
Yes that bring back the maximize button (sometimes) but i can't resize the
window still. This same issue is with gimp and krita and i found out that
if the no. Of docks in the presently opened window increase by a limit this
happens. I think this may help you debug the problem.

On Tue, May 1, 2018, 11:17 AM Onkar <notifications@github.com> wrote:

[2018-05-02 05:10] onkarshinde commented on #24
I am not sure what you mean by no of docks in presently opened window. Since I am not able to reproduce the issue in either Ubuntu or Fedora I am not sure how much I can help.

The application requires very less screen space in un-maximised state. So it is a surprise to me that some of the part of the application is going out of screen.

[2018-05-02 05:28] onkarshinde commented on #25
I am not sure I want to pursue build changes to achieve packages for OS X. I don't have access to OS X so any changes I make can not be tested. I also did not find any hosted continuous integration solutions for OS X, at least not any which are free.

On the other hand before you logged this issue I had already started looking into [meson](http://mesonbuild.com/) as new build system. The build fil

[2018-05-02 05:42] deepaklorkhatri007 commented on #24
Okay ill send you a video of the problem then. In my knowledge Ubuntu uses
unity desktop and you are not using gnome in fedora as well so try to
install it in gnome environment i hope you'll definitely see the problem
there.

On Wed, May 2, 2018, 10:40 AM Onkar <notifications@github.com> wrote:

[2018-05-02 16:00] deepaklorkhatri007 commented on #24
Well, I somehow solved this problem it only needs some font size tweaking, I am very thankful for your precious time. here is a small video of the solution https://youtu.be/15YpOuWrOn0.

[2018-05-03 04:07] #24 closed

[2018-05-12 11:07] onkarshinde commented on #25
Turns out I was wrong. Travis CI does provide a way to build application on OS X, allows libraries to be installed from homebrew and other sources and it is free for open source applications.
So in theory we should be able to ensure that our application is buildable on OS X. Perhaps in future we can also create a application bundle.

[2018-05-12 19:15] onkarshinde commented on #25
![screen shot 2018-05-13 at 12 38 22 am](https://user-images.githubusercontent.com/5102265/39960802-b5b75232-5646-11e8-88a5-e582e9eb5c3d.png)

Managed to borrow someone's MacBook, installed gtksourceview3 from homebrew, built and installed our application. Here is the result.

[2018-05-20 15:13] enjis opened #27 "Allow to load data in memory in hexadecimal format"
![capture](https://user-images.githubusercontent.com/38658739/40280285-57628354-5c6e-11e8-9311-6077ad257bfd.PNG)

Does it only loads decimal numbers??

[2018-05-21 19:59] onkarshinde commented on #6
@aanjhan Can you please refer to the documentation here - https://help.github.com/articles/setting-up-an-apex-domain/#configuring-a-records-with-your-dns-provider
If you can get gnusim8085.org or www.gnusim8085.org to point to gnusim8085.github.io that will be great. As an example check - `dig brew.sh` and `dig formulae.brew.sh`.

[2018-05-30 15:38] aanjhan commented on #6
Will do. What is the deadline here?

On Mon, May 21, 2018 at 3:59 PM, Onkar <notifications@github.com> wrote:

[2018-05-30 16:26] onkarshinde commented on #27
Yes these fields currently only accept decimal values.

[2018-06-02 12:43] onkarshinde commented on #25
@srid
If you login to http://travis-ci.org/ with your github login you should be able to the continuation integration at work. Hopefully I will now be able to make use of meson to build OS X app bundle at some point.

[2018-06-07 20:20] onkarshinde commented on #23
I have managed to get a build done on Fedora that includes all GTK3 and required libraries in one installer. But for some reason when this is installed some of the icons do not show up in UI. Looking at the log in console I can see issue loading icons from the theme.
I copied the entire Adwaita theme to installation folder and still could not resolve the issue.

After reading through lot of discus

[2018-06-08 16:19] onkarshinde commented on #7
I have removed the downloads from launchpad and also announced the movement to GitHub.

[2018-06-08 16:27] onkarshinde commented on #12
Closing the issue as I don't believe it is application issue. Possible resolution has been provided.

[2018-06-08 16:27] #12 closed

[2018-06-08 16:31] onkarshinde commented on #17
@fearthekarma Did you manage to build the simulator from source? I will close the issue if I don't get any reply by 15.

[2018-06-08 16:36] onkarshinde commented on #20
@premkr96 Have you checked your program logic? The issue will be closed if I do not get any reply by 15th.

[2018-06-08 16:40] onkarshinde commented on #21
If you wrote a program with infinite loop and ran that on actual 8085 kit, the kit will keep looping. So I guess the simulator is trying its best to simulate the behaviour. :wink:
I do agree though that the application UI should be kept responsive at all times irrespective of the fault in logic. Or at least we should add logic to detect high number of instruction executions and put program on paus

[2018-07-19 14:14] onkarshinde commented on #23
![gnusim8085_gtk3_windows_tested_in_wine](https://user-images.githubusercontent.com/5102265/42947638-6a4ae4a6-8b8b-11e8-84f7-a520611f640d.png)

@srid I have made good progress after lot of efforts and managed to create a installer build that includes all the dependencies. Please see the screenshot when I tested this using wine. Would you like to test this on a real Windows machine before I commit

[2018-07-19 21:34] srid commented on #23
@onkarshinde I do not have a Windows machine, perhaps some of the interested Windows users would be willing to test the executable?

[2018-07-20 18:43] onkarshinde commented on #23
![gnusim8085](https://user-images.githubusercontent.com/5102265/43019455-ac6cf078-8c7a-11e8-8d27-20f1a31a332e.PNG)

@srid Tested the application on a Windows 7 machine now. Please see the screenshot.

[2018-07-20 18:55] srid commented on #23
Looks good to me!

On Fri, 20 Jul 2018 at 14:43 Onkar <notifications@github.com> wrote:

[2018-07-21 07:42] #23 closed

[2018-07-24 18:06] onkarshinde commented on #7
@srid
We are almost ready to release 1.3.8. But I believe that we need to achieve following things before that.
1. Figure out a way to include the licenses of all the libraries in Windows installer.
2. Decide if we should completely switch to GTK3 by removing option to build with GTK2. This will remove a bunch of if/else in code and build scripts. I can track this under separate issue. We can then

[2018-07-24 18:18] srid commented on #7
Let's target 2

[2018-07-24 19:05] onkarshinde opened #28 "Move completely to GTK3"
Now that #23 is fixed we should plan to completely move to GTK3, with no possibility of GTK2 build.
- [x] Change autotools build scripts to remove gtk2 option
- [x] Change meson build scripts to remove gtk2 option
- [ ] Remove gtk2 logic from Windows installer script.
- [x] Make changes to Travis CI configuration.
- [ ] Remove redundant code logic for gtk3 vs gtk2 handling.

[2018-07-26 05:57] onkarshinde opened #29 "Include licenses of libraries packed in Windows build"
Since #23 has been fixed it is now possible to include all the required runtime DLL as part of the build. This also means that we need to included licenses for those libraries in the installation.

[2018-07-26 06:01] #29 closed

[2018-07-26 14:07] srid commented on #7
This will be 1.4.0? Because of the GTK3 requirement.

[2018-07-26 14:11] onkarshinde commented on #7
If you look at the screenshots in #23 you will see some weird problem with buttons expanding. If I manage to solve this problem then version will be 1.4.0, otherwise it will remain 1.3.8.

[2018-07-26 20:17] #28 closed

[2018-07-28 10:13] onkarshinde opened #30 "Create user guide using markdown"
I started writing user guide using docbook XML format so that it could be converted into HTML as part of build and install. Now that I have become familiar with markdown, docbook looks to be overhead for a simple user guide.
So this is a tracker bug to make necessary changes to use markdown for creating user guide.

[2018-07-28 12:37] #30 closed

[2018-07-28 21:00] onkarshinde commented on #7
I am done with all the code changes. I now need to setup chroot so that I can create Ubuntu packages.
Should I bump version to 1.4.0, tag and create a draft release?

[2018-07-28 21:13] srid commented on #7
if its ready yea

[2018-07-29 19:56] onkarshinde commented on #7
I messed up something in release. The source distribution I created does not build. :-1:
I have reverted the website to point to old release, kept the new screenshots though. I will try to sort out mess and create a 1.4.1 build.

[2018-07-30 20:57] onkarshinde commented on #7
Published release 1.4.1 now along with Windows installer and .deb for i386 and amd64. The download page on the site has been updated. Please test and let me know any comments.

[2018-07-31 10:31] onkarshinde commented on #7
@srid @aanjhan I have sent the release notification to pkg-electronics-devel@alioth-lists.debian.net. Are there any other places you want to announce this?

[2018-07-31 10:47] onkarshinde commented on #17
The latest version now requires the GTK3 and GtkSourceView3.
Please make sure that you download the source of latest version from here and try.
https://gnusim8085.github.io/download

[2018-07-31 10:47] #17 closed

[2018-07-31 10:50] onkarshinde commented on #14
@aanjhan Do you want to take a look at this for next release?

[2018-07-31 15:51] vitasam commented on #19
Hi,
it seems to be Ok now - everything fits to my tablet's screen

[2018-07-31 16:18] onkarshinde commented on #19
Closed based on user feedback.

[2018-07-31 16:18] #19 closed

[2018-07-31 22:06] Knaeckebrot1307 commented on #14
@onkarshinde You mean testing the fix? I'd do nothing more than checking the above test cases... anyone could do that :D

[2018-08-01 06:36] onkarshinde commented on #14
No I meant creating the fix. I am more of the UI logic guy. Have not made any fixes to the core logic in past.

[2018-08-01 06:37] onkarshinde commented on #7
Sent notification to the Fedora package maintainer and Arch Linux AUR package maintainer. Let's see how it goes.

[2018-08-01 20:44] aanjhan commented on #14
Wow a 1.5 yr old error that I failed to even look up. Bad me.  I will look into it for the next release.

[2018-08-03 05:36] onkarshinde opened #31 "Fully switch to meson build"
[Meson](http://mesonbuild.com/) build scripts are very compact and easy to read. I have already started experimenting with it. We should switch to using meson by default.

[2018-08-10 16:10] onkarshinde commented on #7
No response from AUR maintainer yet. I have flagged the package as out-of-date.
Debian package is almost ready, expected to be uploaded to unstable when sponsor is back from vacation.

@aanjhan Do you know if we need to log a bug for Fedora to announce new versions?

[2018-08-17 18:02] onkarshinde commented on #7
Logged a low priority bug on Fedora bug tracker.
https://bugzilla.redhat.com/show_bug.cgi?id=1618832

The package has entered Debian unstable as well as Ubuntu Cosmic (18.10).

As for AUR I have the PKGBUILD ready. But as per policy I have to wait at least two weeks from the date when package is marked as out of date before it is marked as orphaned and can be taken over.

[2018-08-18 07:30] #31 closed

[2018-08-21 12:50] onkarshinde commented on #7
I have requested the AUR package to be orphaned so that I can take over the maintenance.

@srid, if there is nothing else to be done then I will close the issue.

[2018-08-22 19:09] onkarshinde commented on #27
@enjis
I am working on adding a new column that can allow you to view and edit data in hex. The idea is to simply enter the value in hex format with without 'h'. For example 'AC' or '1A'.
Would you be willing to try code from git and provide feedback?

[2018-08-23 06:44] onkarshinde commented on #2
Please refer to this new page - https://gnusim8085.github.io/community
I have included three video tutorials and one review link. If you are happy with the content then I will add the link to the page in top navigation.

[2018-08-28 18:40] onkarshinde commented on #2
I have not heard any comment, so I assume you are fine with the content. I have added the link to new page in navigation.

[2018-08-28 18:40] #2 closed

[2018-08-28 18:43] onkarshinde commented on #7
Closing this as nothing else is to be done.

[2018-08-28 18:43] #7 closed

[2018-08-30 19:39] #27 closed

[2018-08-31 16:20] onkarshinde commented on #26
@vivonk Do you have any suggestions on how this can be implemented? Do you have a patch for this?

[2018-08-31 16:44] vivonk commented on #26
I would like to implement this feature if you could guide me through the codebase a little bit :)

[2018-08-31 19:10] onkarshinde opened #32 "Allow to load data in IO ports in hexadecimal format"
Similar to #27 but for IO ports.
It should be possible to view and edit the contents of IO ports in hexadecimal format.

[2018-08-31 20:34] onkarshinde commented on #25
@srid Do you have access to an OS X machine where you can build and test the bundle?

[2018-08-31 21:07] #32 closed

[2018-09-02 00:14] srid commented on #25
@onkarshinde Yes, I do.

[2018-09-02 10:41] onkarshinde commented on #25
@srid
Here is what you need to do (assuming you use brew).
 - Take latest code from git.
 - `brew bundle`
 - `meson --prefix=`pwd`/osxdist/GNUSim8085.app --bindir=Contents/MacOS --datadir=Contents/Resources --localedir=Contents/Resources/locale --mandir=Contents/SharedSupport -Dbuild-osx-app=true osxdist`
 - `cd osxdist && ninja install`
If all goes well then inside the osxdist you should have a G

[2018-09-03 18:33] onkarshinde commented on #25
@srid
I have now updated the CI configuration to upload files created as part of the build directly in a new draft release. Please try downloading the OS X bundle from this draft release and test it (as normal users would do for actual release).
Let me know if you see any issues.

[2018-09-04 04:57] onkarshinde commented on #25
Found the reason. For some reason dylibbundler is not fixing path of all libs correctly. Hence the gtk dylib file included in the bundle is still using the path from homebrew for gdk dylib.
Sounds like similar to problem mentioned here - auriamg/macdylibbundler/issues/18

[2018-09-04 12:53] onkarshinde commented on #25
I have tweaked the build process for fixing some of the library locations which were not fixed by the dylibbundler.
Can you try latest test release (I have deleted old one) and let me know how it goes?

[2018-09-05 17:00] onkarshinde commented on #6
@aanjhan Professor Aanjhan, what's the news on the action. :-)

[2018-09-11 19:44] onkarshinde commented on #25
macos allows to launch only apps from App Store by default. To avoid this error you need to run following command.
`sudo spctl --master-disable`

[2018-09-11 19:47] srid commented on #25
After resetting my mac back to High Sierra:

[code]

[2018-09-11 19:51] onkarshinde commented on #25
Checking, this library should have been bundled in the app.

[2018-09-11 19:53] onkarshinde commented on #25
Are you sure you are using latest test build? This dylib file is already in the latest package.

[2018-09-11 20:34] onkarshinde commented on #25
Can you do
`ls -l GNUSim8085.app/Contents/libs/libpangocairo-1.0.0.dylib`
I think instead of including the actual dylib file, a symlink has been included in the package.

[2018-09-11 20:39] onkarshinde commented on #25
Can you also do
`otool -L GNUSim8085.app/Contents/libs/libpango-1.0.0.dylib`

[2018-09-11 20:52] onkarshinde commented on #25
Found the problem. Give me few minutes.

[2018-09-11 21:20] onkarshinde commented on #25
@srid Please try latest test build.

[2018-10-25 16:16] srid commented on #25
It crashes. Also seeing `2018-10-25 12:14:35.444 open[81289:4024643] There
was an error parsing the Info.plist for the bundle at URL <0x7ff210b00d70>:
NSCocoaErrorDomain - 3840`

[2018-12-21 08:36] SScattered opened #33 "Direct addressing mode not working"
Whenever I try to use MOV A,00H program won't be compiled saying there's an error. I know that I can achieve what I wanted using lxi and using mov a,m but why this direct addressing mode doesn't work? Perhaps 8085 processor don't support it?

[2018-12-21 14:21] onkarshinde commented on #33
The correct instruction to use is MVI and not MOV. Can you please try this?

[2018-12-21 14:51] SScattered commented on #33
@onkarshinde yeah, I know about it. But recently my lecturer gave this mov a,00h. She said that when

mov a,00h
Inr a
sta 0060h

This will result in the value of memory address 01h will be stored in 0060h memory address. So I tried to do this. I know that inr increase the content by one, she said that accumulator holds memory address 01h in the end

[2019-01-21 00:12] #33 closed

[2019-03-04 07:26] onkarshinde commented on #25
@srid
Can you please give a try for the bundle included in latest draft release?

[2019-03-05 00:03] lucasmazzetto opened #34 "Hex Codes"
Hello, i'm current programming a real 8085 (in a study purpose), but, the keyboard in the hardware only accepts the hex codes. So, i want to know if there's a way, in this compiler/simulator, to obtain the hex code generated after the assembly compilation itself.

[2019-03-05 05:18] onkarshinde commented on #34
Once you have written the program an assembled or run it successfully, click on menu Assembler -> Listing (keyboard shortcut Ctrl + L). This will show you the hex codes to be entered in the 8085 kit. You can even print this listing and take it to lab.

[2019-04-09 10:53] Himesh95 commented on #13
I cloned the source, removed the configure file as stated by alvil.Till autoconf everything ran correctly.But when I run ./ configure it keeps telling error: config failed : gio not found.PS- I have checked all dependencies, gio and glib-2.0 are installed under /usr/local/lib/pkg-config.Please help

[2019-04-21 06:05] onkarshinde commented on #13
@Himesh95
Have you checked if PKG_CONFIG_PATH actually contains /use/local/lib/pkg-config on your machine?

[2019-04-21 06:10] onkarshinde commented on #34
@lucasmazzetto Did you manage to feed the hex codes generated by this application into a real 8085 kit?

[2019-05-28 10:56] catafest opened #37 "Can we use the FASM sintax?"
I try FASM code but I got errors.
Can use this with FASM programming language.
Thank's

[2019-08-26 14:23] leela52452 opened #38 "source and translation end with question mark"
both source & translation has trailing question, however it shows as failed check.

see https://hosted.weblate.org/translate/gnusim8085/translations/fr/?checksum=39c2017425dd5ea0

[2019-08-27 13:10] vineet8588 opened #39 "Option to view the data in memory locations in hexadecimal format."
I want to choose between hexadecimal/decimal.  The kit in my lab uses hex code mainly.

[2019-12-28 01:00] srid commented on #25
@onkarshinde I happened to give this a try now. For the record I used:

- `gnusim8085_macos-1.4.1.20190303.app.zip` from Draft release
- macOS catalina

And ... it _basically_ works. Screenshot below:
<img width="1049" alt="Screen Shot 2019-12-27 at 7 53 25 PM" src="https://user-images.githubusercontent.com/3998/71536886-983bd780-28e2-11ea-971c-13bb0a9dd936.png">

There are some bugs. For example,

[2019-12-28 01:04] srid opened #41 "Allow label one line above the associated instruction"
From https://opensourceforu.com/2011/08/gnusim8085-review/

---

The label line needs to be assigned at least a line of code. For example, if you do something like the following:
[code]
The above code would not assemble, as the line with the label “loop” does not have any code. Either you have to move the ADD B to the “loop:” label line, or simply include a NOP beside the label “loop”.

---

It wo

[2019-12-28 01:37] srid commented on #6
About the EFY citation on Wikipedia, I'm pretty sure it will be acceptable to use the archive link: https://web.archive.org/web/20080330195229/http://www.efytimes.com/efytimes/24867/news.htm

[2019-12-28 09:06] insearch opened #42 "Required GNU Sim 8085 software version 20140-04-02"
We need to install " GNU Sim 8085 software version 20140-04-02" in our client's machine. Please avail us the software with installation guidelines. Please also let me know the software charges or installation charges if any. We agree to pay you the same.

Thanking You.

Your's Sincerely,
Navratan
+919932012167

[2020-01-06 19:22] onkarshinde commented on #25
@srid Did you manage to open/save a file?

[2020-01-06 19:24] onkarshinde commented on #42
There are no charges to download or install this software. Can you please confirm what you are looking for exactly?

[2020-01-13 14:26] insearch commented on #42
Dear Sir,
      I exactly need this version of software "GNU Sim 8085 software
version 20140-04-02" for installation at technical educational institution.
Please help me . My contact numbers are +919932012167 (Whatsapp and Mobile)
+913532500767 (Land Line).

Thanks & Regards

Navratan

On Tue, 7 Jan 2020 at 00:54, Onkar <notifications@github.com> wrote:

[2020-01-14 13:15] rDinesh008 commented on #25
from where  and how did u install GNU 8085 Simulator for OS X .please tell clearly

[2020-01-23 19:22] onkarshinde commented on #34
@lucasmazzetto Have you followed the previous instructions?

[2020-02-11 10:47] razkawa78 opened #43 "razkawa"

[2020-02-11 17:40] #43 closed

[2020-02-23 20:29] vamanose opened #44 "ADI instruction query"
What is the correct format for 8085 instruction below? It gets flagged as an error in the application.

ADI 'A'-'9'-1

I get two errors flagged for the above instruction.

"Undefined symbol"

and...

"Invalid operator or symbol. Check whether operands start with a number. e.g. a0H should be 0a0H."

Its probably expecting a different format, but not sure what.

[2020-03-21 16:53] dawarhusain commented on #44
The format for `ADI` instruction is
[code]
Here `value` is the *number* which you want to add into Accumulator.

I think the assembler has not been made to evaluate expressions as `value`. So `value` needs to be an integer, not an integer expression.

[2020-03-24 20:38] dawarhusain opened #45 "PSW register not displaying correct content."
The PSW register is not displaying its actual content in sidebar and always showing `0`. When pushing the PSW register to stack, we can see the higher byte shows Accumulator and lower byte shows Flag Register. But in the sidebar it always shows zero.

Further there is an issue with the overflow bit in flag register (second least significant bit). It is always set. This bit should only be set when

[2020-04-14 11:42] torishabhmehta opened #46 "DCR instruction doesn'y work properly after 80h"
I was working with a pretty basic multiplication codes when I encountoured that my code is failing for higher values of a particular operand. After investigating, I found that the dcr operation sets the S flag to 1 for values in register higher than 80h. This is obviously a bug, because S flag should be set only if dcr is operating on 00h register entry. Please look into this. Here's my code for e

[2020-04-16 17:54] torishabhmehta commented on #46
The code works perfectly for values in num+1 less than/equal to 80h. The dcr operation acting on higher values than that simply sets the S flag, which triggers the jm command

[2020-05-07 22:43] ceneblock opened #47 "Crash on repeat errors in program"
Hello, GNUSim8085 seems to be crashing when trying to assemble and run a program twice with the same error.

When using the below program, it complains about an incomplete opcode when selecting "assemble and run". Selecting assemble and run again causes the below stack trace.

Here is the code I'm trying to run:

[code]

I understand that it should be `MVI B, 05` on line 10 and  `ADD B`  on line 1

[2020-05-07 23:41] ceneblock commented on #47
Did some additional debugging and got the following:

[code]

I've commented out the assertion in question and seems to be working.  Will test some more before making a PR.

[2020-05-07 23:49] ceneblock commented on #47
PR #48 made

[2020-05-16 08:02] onkarshinde commented on #44
As @dawarhusain mentioned you can not use expression for value. You can use variable though by declaring a value in advance using EQU pseudo operand. Please read the example in tutorial.

[2020-05-16 08:02] #44 closed

[2020-05-16 09:12] onkarshinde commented on #47
Interesting. The crash is not reproducible if you just repeatedly try to run the program. But it is reproducible if you select the error message in the list of messages (which highlights the line where the error is) and the try to run program again.

[2020-05-16 11:00] onkarshinde commented on #42
This software never had a version called 20140-04-02. Just download the latest release from the Code -> Releases section.

[2020-05-16 11:00] #42 closed

[2020-05-16 11:04] onkarshinde commented on #38
It is not failing check anymore. Must have been issue with weblate.

[2020-05-16 11:04] #38 closed

[2020-06-04 12:43] ckorakidis opened #49 "Initialise memory with negative value"
When I (manually in the right panel) set a negative value in memory and hit enter it shows 0. Tried hex format as well (e.g. FE) but didn't work.
Any idea how I can initialise memory with negative values?

[2020-06-04 12:50] ckorakidis commented on #49
Found it, I put the dec of the hex, so for -2 it's dec of FE == 254

[2020-06-04 12:50] #49 closed

[2020-08-08 21:35] salemsalamah opened #50 "I need a simulator for windows 7 or 10"

[2020-08-08 21:37] srid commented on #50
There is `gnusim8085-1.4.1-installer.exe
` at https://github.com/GNUSim8085/GNUSim8085/releases

[2020-08-08 22:00] salemsalamah commented on #50
Thanks alot

Sent from Yahoo Mail on Android

  On الأحد, أغسطس ٩, ٢٠٢٠ at ١٢:٣٧ ص, Sridhar Ratnakumar<notifications@github.com> wrote:

There is gnusim8085-1.4.1-installer.exe  at https://github.com/GNUSim8085/GNUSim8085/releases

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-08-09 01:13] #50 closed

[2020-08-16 13:26] murtraja opened #51 "Negative nos support for dec to hex and hex to dec conversion"
Hello,

If you try to convert a decimal negative no. to hex, the program crashes, or if you've previously done some calculations, it shows a random hex value like `28B6718E`
![image](https://user-images.githubusercontent.com/7806954/90335319-d01e9900-dff1-11ea-8043-b3a1b11ef648.png)

I tried to debug this issue, by forking my copy and running make and then running gdb src/gnusim8085 with breakpoin

[2020-08-16 13:54] murtraja opened #52 "Not obvious where the make command builds the binary"
Hello,

I tried to follow the steps mentioned in the README and also went through the INSTALL file but after firing the make command, it was not obvious where the executable binary was built. In my limited experience using make, I was hoping for a bin directory to be created, but I couldn't find it.

Since the make file was too long, I couldn't trace it there as well. At any rate, after looking at

[2020-08-16 14:03] murtraja opened #53 "File name not visible anywhere"
Hello,

Whenever a file is executed, the program asks us to save the file first. After that, how do you ascertain which file you're working on as I couldn't find any provision to see the filename. Even if we are able to see the file name in the title bar, that would be awesome as well.

I would be more than happy to submit a PR after receiving your guidance in how can one achieve this. (I see that

[2020-08-16 14:11] murtraja opened #54 "Reset All should also remove entries in the Data tab"
Hello,

When I try to fire the reset All command (ctrl+r) the data present in the data tab, doesn't reset. I have to restart GNUSim8085 if I want it to reset.

Let me know if I can submit a PR which allows the user to clear the data tab as well.

[2020-08-16 15:05] murtraja opened #55 "GNUSim8085 doesn't remember last file or folder location"
Hello,

Whenever you run GNUSim8085, it shows a basic skeleton program. We need to manually open the file which we were working on since the last time. Moreover, the open dialog, doesn't save the previous location, so have to give the complete path.

Is there a way in which we can make opening files easier like recently opened? Here are some ways which I can think of making the process easier

1.

[2021-01-06 10:31] y4sh-patel commented on #13
Tried "make install" and got this error.
<img width="1280" alt="Screenshot 2021-01-06 at 3 58 10 PM" src="https://user-images.githubusercontent.com/56584149/103758539-55095e00-5038-11eb-9c37-311055d38484.png">

[2021-01-07 05:56] y4sh-patel commented on #25
While installing through Meson found this error :

"RuntimeError: File 'doc/help/userguide.htm' could not be found"

[2021-04-25 09:01] manishmajhi79 opened #58 "couldn't perform file operations in .asm files"
- the assembly files created and saved by app is not shown in file explorer even if "show hidden files, folders and drives" is enabled with "hide protected operating system file" disabled.

the worst part is, there is no option to delete those created assembly file!

[2021-05-13 21:15] rondajamesbear opened #59 "Mac OS"
How do I install the GNUSim8085 on MAC OS?  Could I have the complete instructions?    Thanks

[2021-05-13 21:24] rondajamesbear commented on #25
Nice to see that @onkarshinde managed to install the GNUSim8085 on MacOS.  Could I have the step-by-step instructions for this on MacOS?   Where do I type the instructions?

[2021-09-21 12:21] onkarshinde commented on #59
Please read the README_OSX.md file

[2021-10-01 05:03] onkarshinde commented on #25
@rondbe Please read README_OSX.md file for instructions. Use homebrew to install dependencies

@y4sh-patel I think you are missing a dependency used for building the user guide. Check README_OSX.md.

[2021-12-03 08:27] tenzindadhul opened #61 "Display hex data in memory window"
I find it incomplete and unprofessional to  not display mnemonic codes in hex inside memory.
So I believe it is a good way for a leaner to grasp good understanding of how 8085 store it's mnemonic codes.
Just add new column defined as Hex in memory window.

[2022-02-10 05:35] monikabishnoi29 commented on #61
there is some issue with security of software

[2022-03-25 10:19] hackerb9 opened #63 "Implement "undocumented" 8085 instructions and flags"
GNUSim8085 should support the "undocumented" 8085 instruction and flags but does not appear to.

It has been known [since 1979](http://www.club100.org/memfiles/index.php?action=downloadfile&filename=UnDoc85.pdf&directory=Steve%20Adolph/undocumented_8085_opcodes) that the 8085 contains [undocumented opcodes](https://pastraiser.com/cpu/i8085/i8085_opcodes.html) and flag bits. Some clones of the 8085

[2022-03-25 17:21] srid opened #64 "Needs a maintainer"
This project needs a maintainer who can review PRs, merge them and create releases. If you're interested, please say so!

[2022-07-25 10:37] vedanta28 opened #65 "GNUSim8085 on M1 Macs"
How to install [http://gnusim8085.srid.ca/](GNUSim8085) on M1 Macs?

[2022-09-20 12:43] sharmatanikesh opened #66 "Decimal - Hex Convertion"
In Decimal - Hex Convertion , Decimal  is converting alphabets value into Hexadecimal numbers.
![image](https://user-images.githubusercontent.com/98941122/191260505-bbef0d16-5b6b-4c8a-8632-f10836c9a939.png)

[2022-09-20 12:46] sharmatanikesh commented on #64
Hey, I am interested.

[2022-09-20 14:09] srid commented on #64
@sharmatanikesh Great, I've added you as a repository collaborater.

EDIT (Jan, 2025): Collaborator removed due to no activity (never accepted the offer in the first place).

[2022-09-20 14:14] srid commented on #64
@sharmatanikesh Before we merge any PRs or make commits to `master`, I strongly recommend adding CI (eg: via Github Actions) to make sure that changes successfully build before getting merged/pushed. Feel free to ping me for questions.

[2022-09-21 17:29] sharmatanikesh commented on #64
Okay. @srid